<% content_for :title do %>GOV.UK Design System team TV<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="GOV.UK Design System" data-text="Well designed, efficiently built government services that provide a consistent user experience"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1" class="standup">
      <div data-id="standup" data-view="Text" data-title="10AM" data-text="Daily stand up"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="3">
      <div id="calendar-events" data-id="calendar-events" data-view="GoogleCalendar"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="2" data-sizey="2">
      <div id="calendar-research" data-id="calendar-research" data-view="GoogleCalendar"></div>
    </li>
  </ul>
</div>
