// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #005EA5;

$title-color:       #FFF;
$moreinfo-color:    #F8F8F8;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: $background-color;

  .title {
    color: $title-color;
    font-size: 2em;
  }

  .subtitle {
    font-weight: normal;
  }

  .more-info {
    color: $moreinfo-color;
    font-weight: normal;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
  }
}

.standup {
  background-color: #2E358B;
}
